# Coercion Methods

### Introduction

As we move through our review of datatypes, one thing to pay attention to is our methods for changing datatypes.  Let's review them here.

### Coercing to Lists

Much of the time, we'll be transforming our data into lists.  Let's review some of our mechanisms for doing so.

In [2]:
list('hello')

['h', 'e', 'l', 'l', 'o']

You can always try using the `list` constructor to transform your data.  For example, the `list` function transforms each character in the string into an element.

And of course, we know split is another way to coerce from string to a list.

In [5]:
'4/25/2016'.split('/')

['4', '25', '2016']

> Notice that split removes the character we are splitting on.

Of course, many of our other collections also can be coerced with the list function.

* set to list

In [6]:
list({'red', 'green', 'blue'})

['blue', 'red', 'green']

* dictionary to list of tuples

> For this, the closest is `{}.items()`

In [9]:
{'name': 'sam', 'hometown': 'nyc'}.items()

dict_items([('name', 'sam'), ('hometown', 'nyc')])

And from there, we can coerce our dict_items object into a list.

In [11]:
list({'name': 'sam', 'hometown': 'nyc'}.items())

[('name', 'sam'), ('hometown', 'nyc')]

### Coercing to dictionary

So we can coerce a dictionary into a list of tuples.  We can also coerce a list of tuples back into a dictionary.

In [16]:
person_attrs = [('name', 'sam'), ('hometown', 'nyc')]

In [17]:
dict(person_attrs)

{'name': 'sam', 'hometown': 'nyc'}

And we can also generate that list of tuples by zipping together two lists.

In [21]:
keys = ['name', 'hometown']

sam_vals = ['sam', 'nyc']

list(zip(keys, sam_vals))

[('name', 'sam'), ('hometown', 'nyc')]

And from there can convert the zipped object into a dictionary.

In [22]:
dict(zip(keys, sam_vals))

{'name': 'sam', 'hometown': 'nyc'}

* Sometimes, we may want to loop through a list of values.

In [26]:
customer_attrs = [['sam', 'nyc'], ['lisa', 'chicago'], ['arnold', 'la']]

In [30]:
customer_keys = ['name', 'hometown']

customers = []
for customer_attr in customer_attrs:
    customer = dict(zip(keys, customer_attr))
    customers.append(customer)
customers

[{'name': 'sam', 'hometown': 'nyc'},
 {'name': 'lisa', 'hometown': 'chicago'},
 {'name': 'arnold', 'hometown': 'la'}]

Or with list comprehension.

In [33]:
customer_keys = ['name', 'hometown']

customers = [dict(zip(keys, customer_attr)) 
             for customer_attr in customer_attrs]
customers

[{'name': 'sam', 'hometown': 'nyc'},
 {'name': 'lisa', 'hometown': 'chicago'},
 {'name': 'arnold', 'hometown': 'la'}]

### Challenge

Now from the list of dictionaries of above, to a list of strings, where each string is in the format of `name is _ and hometown is _`.

In [44]:


# ['name is sam and hometown is nyc',
#  'name is lisa and hometown is chicago',
#  'name is arnold and hometown is la']

['name is sam and hometown is nyc',
 'name is lisa and hometown is chicago',
 'name is arnold and hometown is la']